.container {
    max-width: 768px;
} 


.paddingResponsive{
    padding: 1em;
}

#logoReservia{
    padding: 1em;
    margin: 30px;
}

#headerContainer {
    justify-content: space-between;
}

.linkNav{
    text-decoration: none;
    padding: 62px 30px;
    color : black;
}

.linkNav:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
    padding: 60px 30px;
}


.backgroundBorder{
    display: flex;
    position: relative;
    border: #F2F2F2 2px solid;
    border-radius: 25px;
    margin: 3px;
    padding: 0 25px 0 55px;
    height: 46px;
}

.containerPresentationHostings{
    width: 45%;
}


#section2Container {
    margin-top: 20px;
    display: block;
    justify-content: space-between;
}

#hostingContainer {
    width: 100%;
    margin-bottom: 25px;
}

#popularHostingContainer {
    width: 100%;
}

#activitiesBox{
    flex-wrap: wrap;
    padding: 0 20px;
}

#imgActivites1{
    margin-bottom: 30px;
}

.footer{
    justify-content: space-between;
    text-align: center;
}