
.paddingResponsive{
    padding: 1em;
}

.flex{
    display: block;
}

/*Header*/

#logoReservia{
    padding: 1em;
    margin-top: 0;
}

#searchBar{
    display: flex;
    margin-top: 0;
}


#filterBar{
    margin-top: 0;
}

#headerNav{
    text-align: center;
    display: flex;
}

#subscription{
    position: absolute;
    top: -22px;
    right: 0px;
}

.linkNav {
    text-decoration: none;
    padding: 5px 0;
    color: black;
    display: block;
    width: 50%;
    border-bottom: 2px solid #F2F2F2;
}

.linkNav:hover {
    color: #0065FC;
    border-bottom: 2px #0065FC solid;
    border-top: none;
    padding: 5px 0px;
}

#site-search{
    width: 85%;
}

#searchButtonMax{
    display: none;
}

#searchButtonMin{
    visibility: visible;
    text-decoration: none;
    background-color: #0065FC;
    color: #ffff;
    padding: 14px;
    margin: 0;
    border-radius: 15px;
    position: absolute;
    right: 13px;
}

.titleSection{
    font-size: 15px;
    text-align: left;
}

.iconSearch{
    visibility: visible;
    padding: 2px;
}

#informationBar{
    display: flex;
    font-size: small;
}

#filter{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
}

.backgroundBorder{
    display: flex;
    position: relative;
    border: #F2F2F2 2px solid;
    border-radius: 25px;
    margin: 3px;
    padding: 0 25px 0 55px;
    height: 46px;
}

.backgroundIcone{
    display: flex;
}

.borderInformationFontAnsewome{
    display : flex;
}

#section2Container{
    flex-direction: column-reverse;
    width: 100%;
}

#hostingContainer{
    width: 100%;
    background: none;
}

.boxPadding {
    padding: 10px 20px;
}

.containerPresentationHostings{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#popularHostingContainer{
    width: 100%;
    border-radius: 0;
}

#activitiesSection{
    margin-top: 0;
}
#imgActivites1{
    width: 100%;
    height: 190px;
    margin-bottom: 30px;
}

#imgActivites2{
    width: 100%;
    height: 190px;
    margin-bottom: 30px;
}

#imgActivites3{
    width: 100%;
    height: 190px;
    margin-bottom: 30px;
}

#imgActivites4{
    width: 100%;
    height: 190px;
    margin-bottom: 30px;
}

#imgActivites5{
    width: 100%;
    height: 190px;
    margin-bottom: 30px;
}

#imgActivites6{
    width: 100%;
    height: 190px;
    margin-bottom: 30px;
}

.widthBoxesFooter{
    width: 100%;
}