body {
    margin: 0;
    font-family: "Raleway"; 
}

.container {
    max-width: 1280px;
    margin: auto;
}

 /*class pour éviter les répétitions*/
 .greyBackground{
    background-color: #F2F2F2;
}

.whiteBackground{
    background-color: white;
}

.borderradius{
    border-radius: 20px;
}

.darkBlueColor{
    color: #0065FC !important;
}

.greyColor{
    color: #F2F2F2;
}

.bold{
    font-weight: bold;
}

.flex {
    display: flex;
}


a {
    text-decoration: none;
}

h4 {
    margin: 0;
}

p {
    margin: 0;
} 


/* Header */

#headerContainer{
    justify-content: space-between;
}

#logoReservia{
    height: 50px;
    width: 100px;
    margin-top: 60px;
}

#headerNav{
    position: relative;  
}

.linkNav{
    text-decoration: none;
    padding: 62px 30px;
    color : black;
}

.linkNav:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
    padding: 60px 30px;
}

#subscription{
    padding-top: 62px;
    margin: 0 20px;
}

/* Section 1 */
    /*Search Bar*/

#searchBar{
    margin-top: 15px;
}

#mapsFontAnsewome {
    background: #F2F2F2;
    padding: 16px;
    border-radius: 15px 0px 0px 15px; 
}

#site-search{
    border: 1px solid #f2f2f2;
    padding: 15px;
}

::placeholder{
    color: black;
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: bold;
}


#searchButtonMax{
    visibility: visible;
    text-decoration: none;
    background-color: #0065FC;
    color: #ffff;
    padding: 14px;
    margin: 0;
    border-radius: 0px 15px 15px 0px;
}

#searchButtonMin{
    visibility: hidden;
}

.iconSearch{
    visibility: hidden;
    
}

    /*Filter Bar*/
#filterBar {
    align-items: center;
    margin-top: 15px;
}


.backgroundBorder{
    position: relative;
    border: #F2F2F2 2px solid;
    border-radius: 25px;
    margin: 20px;
    padding: 0 25px 0 55px;
    height: 46px
}

.backgroundIcone{
    position: absolute;
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 50px;  
    left: -5px;
    top: -2px;
}

.backgroundBorder:hover{
    background-color: #0065FC;
    color: white;
    transition: background-color 1s, color 1s ;
}

.textFilter{
    margin: auto;
}
    /*Information Bar */
#informationBar{
    align-items: center;
}

.borderInformationFontAnsewome {
    color: #0065FC;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    font-size: 13px;
    margin: 10px 0;
}

.informationText{
    margin-left: 10px;
}

.marginFont{
    margin: auto;
}


/* Section 2 */

/*HostingMarseille*/

#section2Container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#hostingContainer {
    width: 65%;
}

.boxPadding{
    padding: 20px 40px;
}

#hostingsBox {
    list-style:none; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px
}


.containerPresentationHostings{
    width: 30%;
    height: 195px;
    background-color: white;
    box-shadow: 5px 4px 10px #2120201c;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    border: 5px solid white;
    margin-bottom: 30px;
}

.imgHostings{
    width: 100%;
    height: 115px;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#hosting1{
    background-image: url(/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}

#hosting2{
    background-image: url(/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}

#hosting3{
    background-image: url(/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}

#hosting4{
    background-image: url(/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}

#hosting5{
    background-image: url(/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}

#hosting6{
    background-image: url(/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}

.textPresentationHostings{
    margin: 10px;
    line-height: 23px;
    font-size: 15px;
}

.fa-star{
    font-size: 12px;
}

/*Popular Hosting*/
#popularHostingContainer{
    width: 32%;
}
.headerPopular{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#popularIcon{
    font-size: 30px;
}

#popularHostingsBox{
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.containerPopularHostings{
    display: flex;
    width: 400px;
    height: 140px;
    background-color: white;
    box-shadow: 5px 4px 10px #2120201c;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    border: 5px solid white;
    margin-bottom: 30px;
}

.popularImg{
    height: 139px;
    width: 125px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#hostingPopular1{
    background-image: url(/images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}

#hostingPopular2{
    background-image: url(/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
}

#hostingPopular3{
    background-image: url(/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
}

.textPopularHostings{
    position: relative;
    font-size: 15px;
    width: 155px;
    padding: 15px;
    line-height: 23px;
}

.starsScore{
    position: absolute;
    bottom: 5px;
}

/* Section 3 */

#activitiesSection{
    margin-top: 60px;
    margin-bottom: 60px;
}

#activitiesBox{
    justify-content: space-between;
}

.activitiesLinks{
    text-decoration: none;
    color: black;
}  

.containerActivities{
    width: 100%;
    background-color: white;
    box-shadow: 5px 4px 10px #2120201c;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    bottom: 0;
}

.rulesImg{
    width: 300px;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    position: relative;
    box-shadow: 5px 4px 10px #2120201c;
}

#imgActivites1{
    background-image: url(/images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    height: 450px;
    
}

#imgActivites2{
    background-image: url(/images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    height: 237px;
    margin-bottom: 48px;
}

#imgActivites3{
    background-image: url(/images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    height: 165px;
    
}

#imgActivites4{
    background-image: url(/images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    height: 450px;
}
    
#imgActivites5{
    background-image: url(/images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    width: 300px;
    height: 195px;
    margin-bottom: 45px;

}

#imgActivites6{
    background-image: url(/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    width: 300px;
    height: 210px;
}

.textActivities{ 
    margin: 18px;
    font-size: 15px;
}


/* Footer */

.paddingFooter{
    padding: 40px 0;
}

.widthBoxesFooter{
    width: 33%;
}

li{
    list-style: none;
    line-height: 2rem;
}

ul{
    padding: 0;
}



