body {
    margin: 0; 
}

#container {
    font-family: "Raleway";
    padding : 0 40px;
}

 /*background géré avec une classe pour éviter les répétitions*/
 .greyBackground{
    background-color: #F2F2F2;
}

/*background géré avec une classe pour éviter les répétitions*/
.whiteBackground{
    background-color: white;
}

 /*borderradius géré avec une classe pour éviter les répétitions*/
.borderradius{
    border-radius: 20px;
}

 /*couleur géré avec une classe pour éviter les répétitions*/
.darkBlueColor{
    color: #0065FC !important;
}

.greyColor{
    color: #F2F2F2;
}

.bold{
    font-weight: bold;
}

.flex {
    display: flex;
}


/* Header */

#headerContainer{
    display: flex;
    justify-content: space-between;
}

#logoReservia{
    height: 50px;
    width: 100px;
    margin-top: 60px;
}

#headerNav{
    position: relative;
    display: flex;   
}

.linkNav{
    text-decoration: none;
    margin: 0 20px; 
    padding-top: 62px;
    color : black;
}

.linkNav:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
    padding-top: 60px;
}

/* Section 1 */
    /*Search Bar*/
#mapsFontAnsewome {
    background: #F2F2F2;
    padding: 16px;
    border-radius: 15px 0px 0px 15px; 
}

#textareaSearch{
    resize: none;
    border: 1px solid #f2f2f2;
    font-family: 'Raleway';
    padding: 13px;
    font-size: 16px;
}

#searchButton{
    text-decoration: none;
    background-color: #0065FC;
    color: #ffff;
    padding: 14px;
    margin: 0;
    border-radius: 0px 15px 15px 0px;
}

    /*Filter Bar*/
#filterBar {
    align-items: center;
    margin-top: 15px;
}

.backgroundBorder{
    position: relative;
    border: #cecece 2px solid;
    border-radius: 25px;
    margin: 20px;
    padding: 0 25px 0 55px;
    height: 46px
}

.backgroundIcone{
    position: absolute;
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 50px;  
    left: -5px;
    top: -2px;
}

.backgroundBorder:hover{
    background-color: #0065FC;
    color: white;
    transition: background-color 1s, color 1s ;
}

.textFilter{
    margin: auto;
}
    /*Information Bar */
#informationBar{
    align-items: center;
}

.borderInformationFontAnsewome {
    color: #0065FC;
    width: 20px;
    height: 20px;
    border: 1px solid #cecece;
    border-radius: 20px;
    font-size: 13px;
}

.informationText{
    margin-left: 10px;
}

.marginFont{
    margin: auto;
}



/* Section 2 */

#section2Container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#hebergementSection{
}

#hebergementUl {
    list-style:none; 
    display: flex;
    flex-wrap: wrap;
}

#hebergementSection {
    width: 70%;
    height: 100%;
}

.herbergementImg{
    height: 110px;
    width: 235px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Section 3 */



/* Footer */











