body {
    margin: 0; 
}

#container {
    font-family: "Raleway";
    padding : 0 40px;
}

 /*background géré avec une classe pour éviter les répétitions*/
 .greyBackground{
    background-color: #F2F2F2;
}

/*background géré avec une classe pour éviter les répétitions*/
.whiteBackground{
    background-color: white;
}

 /*borderradius géré avec une classe pour éviter les répétitions*/
.borderradius{
    border-radius: 20px;
}

 /*couleur géré avec une classe pour éviter les répétitions*/
.darkBlueColor{
    color: #0065FC !important;
}

.greyColor{
    color: #F2F2F2;
}

.bold{
    font-weight: bold;
}

.flex {
    display: flex;
}



/* Header */

#headerContainer{
    display: flex;
    justify-content: space-between;
}

#logoReservia{
    height: 50px;
    width: 100px;
    margin-top: 60px;
}

#headerNav{
    position: relative;
    display: flex;   
}

.linkNav{
    text-decoration: none;
    margin: 0 20px; 
    padding-top: 62px;
    color : black;
}

.linkNav:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
    padding-top: 60px;
}

/* Section 1 */
    /*Search Bar*/
#mapsFontAnsewome {
    background: #F2F2F2;
    padding: 16px;
    border-radius: 15px 0px 0px 15px; 
}

#site-search{
    border: 1px solid #cecece;
}

::placeholder{
    color: black;
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: bold;
    padding : 5px
}


#searchButton{
    text-decoration: none;
    background-color: #0065FC;
    color: #ffff;
    padding: 14px;
    margin: 0;
    border-radius: 0px 15px 15px 0px;
}

    /*Filter Bar*/
#filterBar {
    align-items: center;
    margin-top: 15px;
}

.backgroundBorder{
    position: relative;
    border: #cecece 2px solid;
    border-radius: 25px;
    margin: 20px;
    padding: 0 25px 0 55px;
    height: 46px
}

.backgroundIcone{
    position: absolute;
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 50px;  
    left: -5px;
    top: -2px;
}

.backgroundBorder:hover{
    background-color: #0065FC;
    color: white;
    transition: background-color 1s, color 1s ;
}

.textFilter{
    margin: auto;
}
    /*Information Bar */
#informationBar{
    align-items: center;
}

.borderInformationFontAnsewome {
    color: #0065FC;
    width: 20px;
    height: 20px;
    border: 1px solid #cecece;
    border-radius: 20px;
    font-size: 13px;
}

.informationText{
    margin-left: 10px;
}

.marginFont{
    margin: auto;
}


/* Section 2 */

#section2Container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#hebergementFlex {
    list-style:none; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px
}

#hebergementSection {
    width: 65%;
}

.herbergementImg{
    height: 110px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#herbergementPopulaire{
    width: 30%;
}

.backgroundVignette{
    width: 270px;
    background-color: white;
    padding : 5px;
    margin: 30px;
    box-shadow: 3px 2px 10px #cecece;
}

.textVignette{
    padding-left: 10px;
    padding-bottom: 5px;
}

.boxPadding{
    padding: 50px
}

.back{
    display: flex;
    width: 400px;
    background-color: white;
    padding: 5px;
    margin: 30px;
    box-shadow: 3px 2px 10px #cecece;
}

#populaireUl{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.populaireImg{
    height: 139px;
    width: 152px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* Section 3 */

#activitesSection{
    margin-top: 60px;
    margin-bottom: 60px;
}

#boxActivites{
    display: flex;
    justify-content: space-between;
}

.activiteImg{
    height: 110px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.backgroundActiviteVignette{
    width: 270px;
    background-color: white;

    box-shadow: 3px 2px 10px #cecece;
}
/* Footer */

.footer{
    display: flex;
}

.paddingFooter{
    padding: 30px;
}








