#container {
    font-family: "Raleway";
    padding : 50px;    
}

 /*background géré avec une classe pour éviter les répétitions*/
 .backgroundGris{
    background-color: #F2F2F2;
}
 /*background géré avec une classe pour éviter les répétitions*/
.backgroundBlanc{
    background-color: white;
}
 /*borderradius géré avec une classe pour éviter les répétitions*/
.borderradius{
    border-radius: 20px;
    padding: 20px;
}

 /*background géré avec une classe pour éviter les répétitions*/
.textColorDarkBlue{
    color: #0065FC ;
}

.bold{
    font-weight: bold;
}

#headerContainer{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

#title{
    margin: 0px;
    font-family: 'Sansita Swashed';
}

a {
    text-decoration: none;
    margin: 20px; 
    color : black 
}

a:hover {
    color: #0065FC;
}

#section2Container {
    display: flex;
    justify-content: space-between;
}

#hebergementUl {
    list-style:none; 
    display: flex;
    flex-wrap: wrap;
}

li {
    margin-right: 30px;
    margin-bottom: 30px;;
}
#hebergementSection {
    width: 880px;
    height: 625px;
}


